{{>header}}
{{>nav}}
<section class="my-5 container">
    <div class="row mb-3 justifiy-content-end">
        <div class="border border-primary border-4 p-4 m-4">
           <h3>ID: {{customer._id}}</h3>
            <h3>Name: {{customer.name}}</h3>
            <h3>accNum: {{customer.accNum}}</h3>
            <h3>intialBalance: {{customer.intialBalance}}</h3>
            <h3>remainigBalance: {{customer.remainigBalance}}</h3>
        </div>
    </div>
</section>
{{>footer}}